[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RSSL"]
	path = RSSL
	url = https://github.com/jkrijthe/rssl
[submodule "Rtsne"]
	path = Rtsne
	url = https://github.com/jkrijthe/rtsne
